.list-container {
  display: flex;
  height: 89vh;
  position: relative;
}

.chat-container {
  padding-inline-start: 0;
}

.search-label {
  text-align: left;
}

.search-box {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.selected-chat {
  background-color: #f1f3f6;
}
