.message-input {
  padding: 0.5rem;
  width: 80%;
}

.add-btn {
  padding: 0.5rem 2rem;
}

.message-container {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 0.5rem;
  height: 50vh;
}

.message {
  list-style: none;
  min-width: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-self: start;
}

.bot-message {
  justify-self: left;
  background-color: white;
}
.user-message {
  justify-self: right;
  background-color: #027cd5;
  color: white;
}
